@import url('https://googleapis.com');

h1,h2,h3, label {
    font-family: 'Century Gothic', 'Tw Cen MT', 'Futura', sans-serif;
    font-weight: bold;
}

p, a, input {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;  
}

/* eliminar margenes de la página*/
body {
  margin: 0;
  padding: 0;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 20px;
}

.img-redondo {
    border-radius: 50%;
}

header img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border: 1px black solid;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
    padding-top: 16px; /*poner más abajo*/
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/*Presentación*/

#presentacion {
    background: linear-gradient(#2563EB, #3B82F6, #60A5FA);
    padding: 120px 20px;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    
}

#presentacion p, h1 {
    color: white;
    max-height: 10%;
}

#presentacion p {
    text-align: justify;
    font-size: 1rem;
}

#presentacion h1 {
    font-size: 3rem;
}

#presentacion img {
    flex-shrink: 0; /* Evita que se reduzca*/
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center 35%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.mensaje-inicial {
    background-color: rgba(255, 255, 255, 0.189);
    border-radius: 20px;;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 1rem;
}

/*boton inicial*/
#presentacion button{
    background-color: white;
    color: #111;
    font-weight: bold;
    border: none;
    border-radius: 18px;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* efecto boton */
button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

/*Sobre mí*/

#sobre-mi{
    padding: 40px 20px 70px;
}

.foto-txt-personal {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

#sobre-mi h2 {
    font-size: 2.5em;
    padding-bottom: 50px;
}

#sobre-mi h2, h3 {
    color: #111827;
}

#sobre-mi img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.descripcion-personal p{
    text-align: justify;
    color: #374151;
}

.negrita {
    font-weight: bold;
}


/*habilidades*/
#habilidades {
    background-color: #F9FAFB;
    padding: 40px 20px 70px;
}

.tecnologias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

figure {
    width: 50px;
    background-color: #FFFFFF;
    padding: 20px 200px 20px 10px;
    border-radius: 12px;
    border: 1px solid #BCBEC2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

figure:hover{
    transform: scale(1.1); /*efecto zoom*/
}

figure img {
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 20px;
}

figure figcaption {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1rem;
    white-space: nowrap
}

/* Proyectos */

#proyectos {
    padding: 40px 20px 70px;
}

.lista-proyectos {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

article {
    width: 300px;;
    border-radius: 12px;
    border:1px solid #BCBEC2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 40px 10px;
}

article img {
    height: 120px;
    border-radius: 12px;
    border: 1px solid #BCBEC2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.desc-proyecto {
    display: grid;
    place-items: center;
    padding: 2px;
}

.desc-proyecto p{
    text-align: justify;
}

.elm-proyecto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 30px;
}

.elm-proyecto p {
    font-size: 0.7em;
    background-color: #E5E7EB;
    border-radius: 12px;
    border: 1px solid #BCBEC2;
    padding: 2px 10px 2px;
    display: inline-block;
    white-space: nowrap;
}

.logo-git {
    display: flex;
    justify-content: center;
    border: 1px solid #BCBEC2;
    border-radius: 18px;
    padding: 10px 20px 10px;
}

.logo-git:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    cursor: pointer;
}

.logo-git img {
    width: 20px;
    height: 20px;
    border: none;
}

/* efecto levantar boton*/
.logo-git a {
    text-decoration: none;
    color: black;
}

/*contacto*/
#contacto {
    background-color: #F9FAFB;
    padding: 40px 20px 120px;
    min-height: 80vh;
}

.frm-rds {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

.redes {
    padding: 0 0 0 150px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    width: 60%;
    height: 90vh;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    min-height: 10%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #BCBEC2;
    border-radius: 12px;
}
/*afectar solo al mensaje*/
#mensaje {
    min-height: 25%; 
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    max-width: 10%;
    padding: 10px 5px;
    background-color: #2563EB;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    color: white;
    
}

form button img {
    width: 20px;
    height: 20px;
    max-width: 15%;
    min-width: 15%;
    margin-left: 5px;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.btn-redes {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.btn-redes img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    background-color: #ebebef;
    border-radius: 12px;
    border: 1px solid #BCBEC2;
    padding: 5px 5px;
}

.btn-redes img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*footer*/
footer {
    background-color: #111827;
}

.nav-enl {
    display: flex;
    justify-content: flex-end;
}