@import url('https://googleapis.com');

h1,h2,h3, label, figcaption {
    font-family: 'Century Gothic', 'Tw Cen MT', 'Futura', sans-serif;
    font-weight: bold;
    color: #111827;
}

h2 {
    font-size: clamp(1.2rem, 4vw, 1.7em);
}

p, a, input, textarea {
    font-family: 'Inter', sans-serif;
    color: #111827;
}

img {
    max-width: 100%;  
}

/* eliminar margenes de la página*/
body {
  margin: 0;
  padding: 0;
}

.stl-titulo-1 {
    color: #2563EB;
    font-size: clamp(0.7rem, 4vw, 1.2em);
}

/* Header */

header {
    max-width: 100%;
    min-width: 100%;
    min-height: 2vh;
    padding: 1% 2% 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: fixed; /*Siempre se queda mientras baja*/
}

.img-redondo {
    border-radius: 50%;
}

header img{
    width: 80px;
    height: 80px;
    flex-shrink: 0; /* Evita que se reduzca*/
    max-width: clamp(10px, 13%, 80px);
    height: auto;
    aspect-ratio: 20 / 20;
    object-fit: cover;
    border: 3px solid #111827;

}

/*Menu Hamburguesa*/
.menu-toggle {
    display: block; 
    background: none;
    border: none;
    color: #111827;
   
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 1002;
    padding: 3%;
}

.menu-toggle:hover{
     background-color: transparent;
}
.menu-toggle:active{
    transform: translateY(1px);
}

nav {
    position: fixed;
    top: 0;
    right: -60%; /* Oculto fuera de pantalla por la derecha */
    width: 50%;  
    height: 100vh;
    background: linear-gradient(to bottom right, #2563EB, #3B82F6, #60A5FA); /* Color azul acorde a tu sitio */
    padding: 80px  3px;
    transition: right 0.3s ease-in-out;
    box-shadow: -4px 0 10px rgba(0,0,0,0.15);
    z-index: 1001;
}

nav.active {
    right: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2%;
    white-space: nowrap;
}

nav a {
    color: #FFFFFF;
    font-size: clamp(0.8rem, 4vw, 1em);
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 5% 5%;
}

nav a:hover {
    text-decoration: underline;
}

/*Presentación*/

#presentacion {
    background: linear-gradient(to bottom right, #ff5100, #3B82F6, #60A5FA);
    min-height: 50vh;
    padding: 40% 5%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;  
}


#presentacion p, h1 {
    color: white;
}

.mensaje-inicial {
    background-color: rgba(255, 255, 255, 0.189);
    border-radius: 20px;
    padding: 1% 1%;
    font-weight: bold;
    font-size: clamp(0.8rem, 4vw, 0.6em);
}

#presentacion p {
    text-align: justify;
    font-size: clamp(0.8rem, 2vw, 2em);
}

#presentacion h1 {
    /*font-size: 3rem;*/
    color: White;
    font-size: clamp(1.5rem, 2vw, 4em);
}

#presentacion img {
    flex-shrink: 0; /* Evita que se reduzca*/
    max-width: clamp(100px, 30%, 400px);
    height: auto;
    aspect-ratio: 20 / 20;
    object-fit: cover;
    object-position: center 35%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.descripcion-perfil {
    margin-right: 10%;
}

/*boton inicial*/
#presentacion button{
    background-color: white;
    color: #111;
    font-size: clamp(0.5em, 2vw, 2em);
    font-weight: bold;
    border: none;
    border-radius: 18px;
    padding: 1% 1%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* efecto boton */
button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
}

/*Sobre mí*/

#sobre-mi{
    min-height: 50vh;
    padding: 5% 5%;
}

.foto-txt-personal {
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    }

#sobre-mi h2 {
    padding-bottom: 2%;
}

#sobre-mi h2, h3 {
    color: #111827;
}

#sobre-mi img {
    width: 600px;
    height: 600px;
    max-width: clamp(100px, 50%, 600px);
    height: auto;
    aspect-ratio: 9 / 16;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#sobre-mi h3 {
    font-size: clamp(1.3rem, 4vw, 1.8em);
}

.descripcion-personal p{
    
    font-size: clamp(1rem, 4vw, 1.5em);
    text-align: justify;
    color: #374151;
}

.negrita {
    font-weight: bold;
}


/*habilidades*/
#habilidades {
    background-color: #F9FAFB;
    min-height: 50vh;
    padding: 5% 5%;
}

.tecnologias {
    display: grid;
    grid-template-columns:  1fr 1fr;
}

figure { 
    background-color: #FFFFFF;
    padding: 5% 10% 5% 5%;
    border-radius: 12px;
    border: 1px solid #BCBEC2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

figure:hover{
    transform: scale(1.1); /*efecto zoom*/
}

figure img {
    width: 20px;
    height: 20px;
    max-width: clamp(20px, 20%, 400px);
    height: auto;
    aspect-ratio: 10 / 10;
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 20px;
}

figure figcaption {
    font-weight: bold;
    margin-top: 20px;
    font-size: clamp(0.7rem, 4vw, 1.3em);
    color: #111827;
    white-space: nowrap
}

/* Proyectos */

#proyectos {
    min-height: 50vh;
    padding: 5% 5%;
}

.lista-proyectos {
    display: grid;
    grid-template-columns:  1fr;
    place-items:  center;
    gap: 20px;
    margin-top: 3%;
}

article {
    flex: 1 1 300px;  /* Crece, se encoge y su tamaño base es 300px */
    max-width: 650px;  /* Evita que una sola tarjeta se vuelva gigantesca si queda sola */
    min-height: auto;
    border-radius: 12px;
    border:1px solid #BCBEC2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 2% 2% 3%;
}

article img {
    width: 600px;
    height: 300px;
    max-width: clamp(200px, 20%, 600px);
    aspect-ratio: 10 / 10;
    max-width: 100%;
    max-height: 45vh;
    border-radius: 12px;
    border: 1px solid #BCBEC2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.desc-proyecto {
    display: grid;
    place-items: center;
    padding: 1%;
}

.desc-proyecto h3 {
    font-size: clamp(1rem, 4vw, 1.5em);
}

.desc-proyecto p{
    font-size: clamp(0.8rem, 4vw, 1.3em);;
    color: #6B7280;
    text-align: justify;
}

.elm-proyecto {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    padding: 5% 10% 0;
}

.elm-proyecto p {
    font-size: clamp(0.5rem, 4vw, 1em);
    color: #111827;
    background-color: #E5E7EB;
    border-radius: 18px;
    border: 1px solid #BCBEC2;
    padding: 10px 10px;
    display: inline-block;
    white-space: nowrap;
}

.logo-git {
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BCBEC2;
    border-radius: 18px;
    padding: 10px 10px;
    margin-top: 15px;
}

/* efecto levantar boton*/
.logo-git:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    cursor: pointer;
}

.logo-git img {
    width: 30px;
    height: 30px;
    max-width: clamp(10px, 100%, 30px);
    height: auto;
    aspect-ratio: 10 / 10;
    border: none;
    box-shadow: none;
}


.logo-git a {
    text-decoration: none;
    font-size: clamp(0.2rem, 4vw, 0.8em);
}

/*contacto*/
#contacto {
    background-color: #F9FAFB;
    padding: 5% 5%;
    min-height: 30vh;
}

#contacto h1 {
    color: #2563EB;
    background-color: #2564eb1a;
    border-radius: 20px;
    display: inline-block; /*hace que se ajuste al texto*/
    padding: 10px 10px;
    font-size: clamp(0.9rem, 4vw, 1.4em);
}

#contacto h2 {
    font-size: clamp(1.2rem, 4vw, 1.7em);
}

#contacto p{
    font-size: clamp(0.7rem, 4vw, 1.2em);
}
#contacto h3 {
    font-size: clamp(0.8rem, 4vw, 1.3em);
}

.frm-rds {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.redes {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding: 30px;
    width: 60%;
    height: 50vh;
}

label {
    margin-bottom: 2px;
}

input, textarea {
    width: 100%;
    min-height: 10%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #BCBEC2;
    border-radius: 12px;
    font-size: clamp(0.5rem, 3vw, 1em);
}
/*afectar solo al mensaje*/
#mensaje {
    font-size: clamp(0.7rem, 3vw, 1.2em);
    min-height: 25%; 
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    max-width: 80%;
    min-width: 10%; 
    padding: 10px 2px;
    background-color: #2563EB;
    border-radius: 8px;
    border: none;
    font-size: clamp(0.5em, 3vw, 1em);
    color: white;
}

form button:hover {
background-color: #2980b9;
  transform: translateY(-2px); /* Eleva un poco el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form button:active {
    transform: translateY(1px); /* Simula que se hunde */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form button img {
    width: 20px;
    height: 20px;
    max-width: clamp(5px, 30%, 20px);
    height: auto;
    aspect-ratio: 20 / 20;
    min-width: 15%;
    margin-left: 5px;
    margin-bottom: 5px;
    flex-shrink: 0;
}

.btn-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.btn-redes img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    background-color: #ebebef;
    border-radius: 12px;
    border: 1px solid #BCBEC2;
    padding: 5px 5px;
}

.btn-redes img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*footer*/
footer {
    background-color: #111827;
    min-height: 10vh;
}

footer h3 {
    font-size: clamp(0.8rem, 3vw, 1.3em);
    color: #9CA3AF;
}

footer a {
    font-size: clamp(0.5rem, 3vw, 1em);
    color: #FFFFFF;
}

.nav-enl {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    margin-right: 5%;
}

.nav-enl-obj {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 1%;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    padding: 0; /*quita el espacio de la izquieda de los a*/
    margin: 0; /*Quita el espacio de arriba*/
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.linea-hor{
    margin: 3% 2% 0.5%;
    border: none;
    height: 2px;
    background-color: #79797b;
}

.ultimo {
    display: flex;
    justify-content: space-between;
    padding: 3% 2% 1%;
}

.ultimo a, .ultimo p{
    font-size: clamp(0.3rem, 4vw, 1em);
    color: #9CA3AF;
}


/*@media configuraciones*/

/*Tablet*/
@media (min-width: 768px) {

    /* Se oculta el botón hamburguesa */
    .menu-toggle {
        display: none;
    }

    nav {
        position: static;
        width: auto;
        height: auto;
        background: none;
        padding: 0;
        box-shadow: none;
        padding-right: 5%;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    nav a {
        color: #111827;
        font-size: clamp(0.5rem, 4vw, 1em);
    }

    #presentacion {
        padding: 15% 5%;
    }

    .foto-txt-personal {
        display: flex;
        justify-content: space-between;
        gap: 10%;
        align-items: center;
}

    .foto-txt-personal {
        display: flex;
        flex-direction: column;
        gap: 10%;
        align-items: center;
    }

    figure img {
        width: 40px;
        height: 40px;
    }

    .tecnologias {
        grid-template-columns: 1fr 1fr;
    }

    .btn-redes img {
        width: 30px;
        height: 30px;
    }

    form button {
        max-width: 40%;

    }
}

/*desktop */
@media (min-width: 1024px) {
    .foto-txt-personal {
        display: flex;
        justify-content: space-between;
        gap: 10%;
        align-items: center;
     }

    .foto-txt-personal {
        display: flex;
        flex-direction: row;
        gap: 10%;
        align-items: center;
    }

    figure img {
        width: 50px;
        height: 50px;
    }

    .tecnologias {
        grid-template-columns: repeat(3, 1fr);
    }

    .lista-proyectos {
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
    }

    .btn-redes img {
        width: 30px;
        height: 30px;
    } 

    form button {
        max-width: 20%;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    article img {
        width: 200px !important;
        height: auto;
    }

    .logo-git {
    margin-top: 10px;
    }

    .desc-proyecto h3 {
        font-size: 1.2em !important;
    }

    .desc-proyecto p{
        font-size: 0.7em !important;
    }
    
    .logo-git a {
        font-size: 0.6em;
}
    
}

@media (min-width: 1440px) {

    form button {
        max-width: 10%;
    }
}

@media (min-widht: 2560px) {

}